/***
    The new CSS reset - version 1.5.1 (last updated 1.3.2022)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
 */
 *:where(:not(iframe, canvas, img, svg, video):not(svg *, symbol *)) {
    all: unset;
    display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
    cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
    list-style: none;
}

/* For images to not be able to exceed their container */
img {
    max-width: 100%;
}

/* removes spacing between cells in tables */
table {
    border-collapse: collapse;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
    white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
    -webkit-appearance: revert;
    appearance: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
    color: unset;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
    display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly. */
:where([contenteditable]) {
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
    -webkit-user-drag: element;
}

body{
    font-family: "SF Compact Display";
}

h1, h2{
    font-family: Archivo;
    font-weight: 800;
    font-style: normal;
    color: #000;
}

h1  {
    font-size: 31px;
}

h2, footer, button  {
    font-size: 20px;
}

h3, p, textarea, footer, button {
    font-family: "SF Compact Display";
}

h3, a {
    font-size: 15px; 
}

p, textarea {
    font-size: 14px;
}

footer, button { 
    color: #fff;
    background-color: #1d9bf0;
    }

 button {
 /* Auto layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 15px 93px;

position: static;
width: 350px;
height: 49px;
left: 0px;
top: 469px;

/* Primary Blue */
background: #1d9bf0;

/*deixa os cantos arredondados*/
border-radius: 9999px;

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;
margin: 15px 0px;
 }   

aside, .decodeText {
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: static;
width: 350px;
height: 390px;
left: 0px;
top: 64px;

background: #F7F9FA;
border-radius: 16px;
font-weight: bold;
}
